<a href="https://colab.research.google.com/github/Amjad-Bin-Aslam/Data-Analysis-Practice/blob/main/05_Pandas/03_Pandas_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# groupby Object
* groupby() is one of the most powerful features in Pandas.
* A special Pandas object that holds grouped data and waits for an aggregation operation like sum(), mean(), count(), etc.
* In groupby() data groups are made on the basis of columns.
* groupby() is generally applied to categorical variables to summarize numeric data across categories, but it can technically be used on any column type.

1. Split data into groups
2. Apply some operation
3. Combine the results

In [3]:
import pandas as pd
import numpy as np

In [4]:
movies = pd.read_csv('/content/imdb-top-1000.csv')
matches = pd.read_csv('/content/deliveries.csv')

In [5]:
movies.head(1)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0

In [6]:
# Made the group on the basis of Genre column
genres = movies.groupby('Genre')

In [7]:
# Applying built-in aggregate functions on groupby object
genres.sum(numeric_only=True).head(5)

           Runtime  IMDB_Rating  No_of_Votes         Gross  Metascore
Genre
Action       22196       1367.3     72282412  3.263226e+10    10499.0
Adventure     9656        571.5     22576163  9.496922e+09     5020.0
Animation     8166        650.3     21978630  1.463147e+10     6082.0
Biography    11970        698.6     24006844  8.276358e+09     6023.0
Comedy       17380       1224.7     27620327  1.566387e+10     9840.0

In [8]:
# find top 3 genres by total earning
#movies.groupby("Genre").sum(numeric_only=True)['Gross'].sort_values(ascending=False).head(3)\
movies.groupby('Genre')['Gross'].sum(numeric_only=True).sort_values(ascending=False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [9]:
# find the genre with highiest avg IMDB rating
movies.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending=False).head(1)

Genre
Western    8.35
Name: IMDB_Rating, dtype: float64

In [10]:
# find the director with most popularity
movies.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False).head(1)

Director
Christopher Nolan    11578345
Name: No_of_Votes, dtype: int64

In [11]:
# find number of movies done by each actor
movies.head(2)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0

In [12]:
# Find number of movies done by each actor
# movies.groupby('Star1')['Series_Title'].count().sort_values(ascending=False)
movies['Star1'].value_counts()

Star1
Tom Hanks              12
Robert De Niro         11
Al Pacino              10
Clint Eastwood         10
Humphrey Bogart         9
                       ..
Junko Iwao              1
Fernanda Montenegro     1
Eli Marienthal          1
Til Schweiger           1
Alan Mak                1
Name: count, Length: 660, dtype: int64

# groupby attributes and methods

## len()
* len() is used to count the number of groups made by the groupby().

In [13]:
len(movies.groupby('Genre'))

14

## nunique()
1. DataFrame/Series
* It is used to return number of unique values.
* It counts how many distinct values are present.
2. groupby object
* The number of distinct (unique) values within each group.

In [14]:
# for single column (DataFrame or series)
movies['Genre'].nunique()

14

In [15]:
genres.nunique().head(4)

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,61,78,15,123,121,172,172,50
Adventure,72,49,58,10,59,59,72,72,33
Animation,82,35,41,11,51,77,82,82,29
Biography,88,44,56,13,76,72,88,88,40

## size()
* It is used to count the number of rows in each groups.

In [16]:
movies.groupby('Genre').size().head(4)

Genre
Action       172
Adventure     72
Animation     82
Biography     88
dtype: int64

## value_count()
* Return number of rows in each group.
* It is just like the size() method.
* But the diff is that it return the sorted data.

In [17]:
movies['Genre'].value_counts().head(4)

Genre
Drama     289
Action    172
Comedy    155
Crime     107
Name: count, dtype: int64

## first(), last() and nth()
* first() return the first item from each group.
* last() return the last item from each group.
* nth() is used to get the specific item from each group.

In [18]:
genres = movies.groupby('Genre')
genres.first().head(5)

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark Knight,2008,152,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
Adventure,Interstellar,2014,169,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
Animation,Sen to Chihiro no kamikakushi,2001,125,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
Biography,Schindler's List,1993,195,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
Comedy,Gisaengchung,2019,132,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0

In [19]:
genres.nth(7).head(5) # that will return the 7th movie from each group

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
28,The Silence of the Lambs,1991,118,Crime,8.6,Jonathan Demme,Jodie Foster,1270197,130742922.0,85.0
29,Star Wars,1977,121,Action,8.6,George Lucas,Mark Hamill,1231473,322740140.0,90.0
34,Whiplash,2014,106,Drama,8.5,Damien Chazelle,Miles Teller,717585,13092000.0,88.0
70,Mononoke-hime,1997,134,Animation,8.4,Hayao Miyazaki,YÃ´ji Matsuda,343171,2375308.0,76.0
95,AmÃ©lie,2001,122,Comedy,8.3,Jean-Pierre Jeunet,Audrey Tautou,703810,33225499.0,69.0

## get_group()
* this method is used to get the all information about a particular group.
* Returns actual DataFrame of that group.

In [20]:
genres.get_group('Horror').head(5)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
49,Psycho,1960,109,Horror,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
75,Alien,1979,117,Horror,8.4,Ridley Scott,Sigourney Weaver,787806,78900000.0,89.0
271,The Thing,1982,109,Horror,8.1,John Carpenter,Kurt Russell,371271,13782838.0,57.0
419,The Exorcist,1973,122,Horror,8.0,William Friedkin,Ellen Burstyn,362393,232906145.0,81.0
544,Night of the Living Dead,1968,96,Horror,7.9,George A. Romero,Duane Jones,116557,89029.0,89.0

## sample()
* Randomly select rows from each group.
* Instead of sampling from the whole DataFrame, it samples inside each group separately.

In [21]:
genres.sample().head(4)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
479,X-Men: Days of Future Past,2014,132,Action,7.9,Bryan Singer,Patrick Stewart,659763,233921534.0,75.0
552,The Ten Commandments,1956,220,Adventure,7.9,Cecil B. DeMille,Charlton Heston,63560,93740000.0,NaN
976,The Little Mermaid,1989,83,Animation,7.6,Ron Clements,John Musker,237696,111543479.0,88.0
587,Pride,2014,119,Biography,7.8,Matthew Warchus,Bill Nighy,51841,574305769.0,79.0

## .groups
The groups attribute of a GroupBy object returns a dictionary mapping each group label to the index labels belonging to that group.
* It is a attribute of groupby object.
* It return a dictionary that shows which row indexes belong to each group.

In [22]:
# genres.groups

# Aggregate Methods

In [23]:
# agg() method, passing the dict
# Apply different aggregate functions on each different column
genres.agg({
    'Runtime': 'mean',
    'IMDB_Rating': 'mean',
    'No_of_Votes': 'sum',
    'Gross': 'sum',
    'Metascore': 'min'
})

              Runtime  IMDB_Rating  No_of_Votes         Gross  Metascore
Genre
Action     129.046512     7.949419     72282412  3.263226e+10       33.0
Adventure  134.111111     7.937500     22576163  9.496922e+09       41.0
Animation   99.585366     7.930488     21978630  1.463147e+10       61.0
Biography  136.022727     7.938636     24006844  8.276358e+09       48.0
Comedy     112.129032     7.901290     27620327  1.566387e+10       45.0
Crime      126.392523     8.016822     33533615  8.452632e+09       47.0
Drama      124.737024     7.957439     61367304  3.540997e+10       28.0
Family     107.500000     7.800000       551221  4.391106e+08       67.0
Fantasy     85.000000     8.000000       146222  7.827267e+08        NaN
Film-Noir  104.000000     7.966667       367215  1.259105e+08       94.0
Horror     102.090909     7.909091      3742556  1.034649e+09       46.0
Mystery    119.083333     7.975000      4203004  1.256417e+09       52.0
Thriller   108.000000     7.800000        27733  1.755074e+07       81.0
Western    148.250000     8.350000      1289665  5.822151e+07       69.0

In [24]:
# Apply multiple aggregate functions on same column
# passing list

# genres.agg(['min','max','mean'])

movies.select_dtypes(include='number').groupby(movies['Genre']).agg(['min','max','mean']).head(3)

          Runtime                  IMDB_Rating                No_of_Votes  \
              min  max        mean         min  max      mean         min
Genre
Action         45  321  129.046512         7.6  9.0  7.949419       25312
Adventure      88  228  134.111111         7.6  8.6  7.937500       29999
Animation      71  137   99.585366         7.6  8.6  7.930488       25229

                                      Gross                             \
               max           mean       min          max          mean
Genre
Action     2303232  420246.581395    3296.0  936662225.0  1.897224e+08
Adventure  1512360  313557.819444   61001.0  874211619.0  1.319017e+08
Animation   999790  268032.073171  128985.0  873839108.0  1.784326e+08

          Metascore
                min    max       mean
Genre
Action         33.0   98.0  73.419580
Adventure      41.0  100.0  78.437500
Animation      61.0   96.0  81.093333

In [39]:
genres.agg({
    'Runtime': ['min','max'],
    'IMDB_Rating': 'mean',
    'No_of_Votes': ['mean','sum'],
    'Gross': 'sum',
    'Metascore': 'min'
}).head(3)

          Runtime      IMDB_Rating    No_of_Votes                   Gross  \
              min  max        mean           mean       sum           sum
Genre
Action         45  321    7.949419  420246.581395  72282412  3.263226e+10
Adventure      88  228    7.937500  313557.819444  22576163  9.496922e+09
Animation      71  137    7.930488  268032.073171  21978630  1.463147e+10

          Metascore
                min
Genre
Action         33.0
Adventure      41.0
Animation      61.0

# Looping groups

In [53]:
# Find the highiest rated movie of each genre
df = pd.DataFrame(columns=movies.columns)

for group,data in genres:
  highest_rated = data[data['IMDB_Rating'] == data['IMDB_Rating'].max()]
  df = pd.concat([df,highest_rated], ignore_index=True)

df.head(3)

/tmp/ipython-input-264298291.py:6: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,highest_rated], ignore_index=True)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
1,Interstellar,2014,169,Adventure,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
2,Sen to Chihiro no kamikakushi,2001,125,Animation,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0

# User defined function with apply()

In [63]:
# find number of movies starting with A from each group
def fun(group):
  return group['Series_Title'].str.startswith('A').sum()

In [65]:
genres.apply(fun).head(3)

/tmp/ipython-input-397816529.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genres.apply(fun).head(3)

Genre
Action       10
Adventure     2
Animation     2
dtype: int64

In [75]:
# find the ranking of each movie in the group according to IMDB rating of its own group
def rank(group):
  group['Genre_rank'] = group['IMDB_Rating'].rank(ascending=False)
  return group

In [77]:
genres.apply(rank).head(4)

/tmp/ipython-input-3934972526.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genres.apply(rank).head(4)

                                                Series_Title Released_Year  \
Genre
Action 2                                     The Dark Knight          2008
       5       The Lord of the Rings: The Return of the King          2003
       8                                           Inception          2010
       10  The Lord of the Rings: The Fellowship of the Ring          2001

           Runtime   Genre  IMDB_Rating           Director              Star1  \
Genre
Action 2       152  Action          9.0  Christopher Nolan     Christian Bale
       5       201  Action          8.9      Peter Jackson        Elijah Wood
       8       148  Action          8.8  Christopher Nolan  Leonardo DiCaprio
       10      178  Action          8.8      Peter Jackson        Elijah Wood

           No_of_Votes        Gross  Metascore  Genre_rank
Genre
Action 2       2303232  534858444.0       84.0         1.0
       5       1642758  377845905.0       94.0         2.0
       8       2067042  292576195.0       74.0         3.5
       10      1661481  315544750.0       92.0         3.5