<a href="https://colab.research.google.com/github/Amjad-Bin-Aslam/Data-Analysis-Portfolio/blob/main/05_Pandas/04_Pandas_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
courses = pd.read_csv('/content/courses.csv')
delivery = pd.read_csv('/content/deliveries.csv')
matches = pd.read_csv('/content/matches.csv')
nov = pd.read_csv('/content/reg-month1.csv')
dec = pd.read_csv('/content/reg-month2.csv')
students = pd.read_csv('/content/students.csv')

# concat()
pd.concat() is a pandas function used to combine two or more DataFrames (or Series) by stacking them either vertically (row-wise) or horizontally (column-wise).

* Papers on top of each other → row-wise
* Papers side by side → column-wise

### Parameters:

* objs → list of DataFrames
* axis=0 → stack rows (default)
* axis=1 → stack columns
* ignore_index=True → reset index

### When to use:
* Adding more rows to dataset
* Combining monthly data files
* Merging datasets with same structure
* Stacking features horizontally

In [3]:
regs = pd.concat([nov,dec],ignore_index=True)
regs

    student_id  course_id
0           23          1
1           15          5
2           18          6
3           23          4
4           16          9
5           18          1
6            1          1
7            7          8
8           22          3
9           15          1
10          19          4
11           1          6
12           7         10
13          11          7
14          13          3
15          24          4
16          21          1
17          16          5
18          23          3
19          17          7
20          23          6
21          25          1
22          19          2
23          25         10
24           3          3
25           3          5
26          16          7
27          12         10
28          12          1
29          14          9
30           7          7
31           7          2
32          16          3
33          17         10
34          11          8
35          14          6
36          12          5
37          12          7
38          18          8
39           1         10
40           1          9
41           2          5
42           7          6
43          22          5
44          22          6
45          23          9
46          23          5
47          14          4
48          14          1
49          11         10
50          42          9
51          50          8
52          38          1

In [4]:
# Multi-index DataFrame
multi = pd.concat([nov,dec],keys=['Nov','Dec'])
# get the first_element from nov dataFrame
multi.loc[('Nov',0)]

student_id    23
course_id      1
Name: (Nov, 0), dtype: int64

In [5]:
# concat() -> side-by-side , column-wise(Horizantly)
pd.concat([nov,dec],axis=1).shape

(28, 4)

In [6]:
df1 = pd.DataFrame({'A': [1,2], 'B': [3,4]})
df2 = pd.DataFrame({'C':[5,6,7]})
pd.concat([df1,df2],axis=1)

     A    B  C
0  1.0  3.0  5
1  2.0  4.0  6
2  NaN  NaN  7

# merge()
pd.merge() is a pandas function used to combine two DataFrames based on a common column or key, similar to SQL JOIN operations.

### Types:
1. inner
2. left
3. right
4. outer

### Parameters:
* left → first DataFrame
* right → second DataFrame
* on → common column name
* how → type of join

### When to use:
* Combining related tables
* Joining datasets with a key column
* Working like SQL joins
* Merging relational data

In [7]:
students.head(3)

   student_id            name  partner
0           1   Kailash Harjo       23
1           2     Esha Butala        1
2           3  Parveen Bhalla        3

In [8]:
regs.head(3)

   student_id  course_id
0          23          1
1          15          5
2          18          6

In [9]:
# join/inner join
students.merge(regs,how='inner',on='student_id')

    student_id                name  partner  course_id
0            1       Kailash Harjo       23          1
1            1       Kailash Harjo       23          6
2            1       Kailash Harjo       23         10
3            1       Kailash Harjo       23          9
4            2         Esha Butala        1          5
5            3      Parveen Bhalla        3          3
6            3      Parveen Bhalla        3          5
7            7        Tarun Thaker        9          8
8            7        Tarun Thaker        9         10
9            7        Tarun Thaker        9          7
10           7        Tarun Thaker        9          2
11           7        Tarun Thaker        9          6
12          11  David Mukhopadhyay       20          7
13          11  David Mukhopadhyay       20          8
14          11  David Mukhopadhyay       20         10
15          12          Radha Dutt       19         10
16          12          Radha Dutt       19          1
17          12          Radha Dutt       19          5
18          12          Radha Dutt       19          7
19          13      Munni Varghese       24          3
20          14    Pranab Natarajan       22          9
21          14    Pranab Natarajan       22          6
22          14    Pranab Natarajan       22          4
23          14    Pranab Natarajan       22          1
24          15           Preet Sha       16          5
25          15           Preet Sha       16          1
26          16        Elias Dodiya       25          9
27          16        Elias Dodiya       25          5
28          16        Elias Dodiya       25          7
29          16        Elias Dodiya       25          3
30          17        Yasmin Palan        7          7
31          17        Yasmin Palan        7         10
32          18     Fardeen Mahabir       13          6
33          18     Fardeen Mahabir       13          1
34          18     Fardeen Mahabir       13          8
35          19        Qabeel Raman       12          4
36          19        Qabeel Raman       12          2
37          21          Seema Kota       15          1
38          22          Yash Sethi       21          3
39          22          Yash Sethi       21          5
40          22          Yash Sethi       21          6
41          23      Chhavi Lachman       18          1
42          23      Chhavi Lachman       18          4
43          23      Chhavi Lachman       18          3
44          23      Chhavi Lachman       18          6
45          23      Chhavi Lachman       18          9
46          23      Chhavi Lachman       18          5
47          24        Radhika Suri       17          4
48          25     Shashank D’Alia        2          1
49          25     Shashank D’Alia        2         10